{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="col-md-3" style="margin: 10% 10% 20% 35%">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input name="username" class="form-control" id="id_username" aria-describedby="emailHelp" placeholder="Enter username" name>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
      </div>
      <input type="submit" class="btn btn-primary" value="login">
      <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>

{% endblock %}