{% extends 'base.html' %}
{% block content %}
	<a href="{% url 'logout' %}">Logout</a>
	<div class="col-md-6" style="margin: 3% 0 0 25%">
		<form method="post" action="{% url 'translate_text' %}">
			{% csrf_token %}
			<label>Translate from: </label>
			<select class="form-control" name="translate_from">
			  <option>Russian</option>
			  <option>English</option>
			  <option>Uzbek</option>
			  <option>Turkish</option>
			</select>
			<label>To: </label>
			<select class="form-control" name="translate_to">
			  <option>Russian</option>
			  <option selected="selected">English</option>
			  <option>Uzbek</option>
			  <option>Turkish</option>
			</select>
			<p style="color: red">{{ translate_error }}</p>
			<label for="comment">Text for translate: </label>
	  		<textarea class="form-control" rows="5" name='translate_content'>{{ translate_content }}</textarea></br>
	  		<input type="submit" value="Translate" class="btn btn-primary">
		</form>
		{{ translate_result }}
	</div>
	<h1 style="text-align: center;"> Uplod content </h1>
	<div class="container">
	  	<div class="row">
	  		<div class="col-md-6">
				<form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="custom-file">
						<p><label for="id_file">File:</label> <input name="file" required="" id="id_file" type="file"></p>
					  	<input type="submit" value="Upload file" class="btn btn-primary">
					</div>
				</form>
			</div>
			<div class="col-md-6" >
				<form method="post" action="{% url 'upload_img' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="custom-file">
					  <p><label for="id_file">File:</label> <input name="file" required="" id="id_file" type="file"></p>
					  <input type="submit" value="Upload img" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}